/* Importacion de fuentes */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Press+Start+2P&display=swap');

/* variables globales */
:root {
    --font-titulo: "Press Start 2P", system-ui;
    --font-texto: "IBM Plex Mono", monospace;
    --color-primario: #5300C8;
    --color-secundario: #03318C;
    --color-card: #73F0BA;
}

/* global */
h1, h2{
    font-family: var(--font-titulo);
    font-size: 1.5rem;
    text-align: center;
}

/* header */
.header {
    height: 6rem;
    background: var(--color-primario);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

.header__imagen {
    height: 3.5rem;
}

.header__titulo2 {
    color: negro;
}

/* main */
.main {
    display: flex;
    padding: 3.125rem 1.875rem;
    gap: 4.375rem;
    justify-content: center;
}

/* productos */
.seccion__productos {
    height: auto;
    width: 100%; 
    max-width: 47.375rem;
    margin: 0 auto;
}

.productos__lista {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.card {
    border: 0.1875rem solid #000;
    border-radius: 1.25rem;
    background: var(--color-card);
    width: 12.25rem;
    height: 16.75rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.625rem;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    width: 11rem;
    height: 10.875rem;
    object-fit: cover;
    border-radius: 0.5rem;
    padding-bottom: 0.625rem; 
}

.card-container--info {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
    flex-grow: 1;
}

.card-nombre {
    font-family: var(--font-texto);
    font-weight: 400;
    font-size: 0.9375rem;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-container--value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-titulo);
}

.card-container--value p {
    font-weight: 700;
    font-size: 1rem;
}

.card-container--value img {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer; 
}

.mensaje-vacio {
    font-family: var(--font-texto);
    padding: 1.25rem;
    text-align: center;
    color: negro;
}

/* formulario */
.seccion__formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 29.5rem;
    margin: 0 auto;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.formulario__input{
    width: 24.5rem;
    padding: 0.625rem;
    border: 0.1875rem solid var(--color-secundario);
    border-radius: 1.25rem;
    font-family: var(--font-texto);
    color: var(--color-secundario);
    font-weight: 600;
}

.formulario__input::placeholder{
    font-family: var(--font-texto);
    color: var(--color-secundario);
    font-weight: 600;
}

.formulario__botones {
    display: flex;
    justify-content: space-around;
}

.formulario__boton {
    width: 11.75rem;
    height: 3.4375rem;
    border: 0.1875rem solid var(--color-secundario);
    border-radius: 1.25rem;
    background: var(--color-secundario);
    color: #fff;
    font-weight: 500;
    font-family: var(--font-texto);
    cursor: pointer;
}

.formulario__boton--limpiar{
    background: #fff;
    color: var(--color-secundario);
}

/* footer */
.footer {
    height: auto;
    padding: 1.25rem;
    background: var(--color-primario);
    align-items: center;
    justify-content: center;
}

.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.footer__logo--imagen {
    height: 3.5rem;
    margin: 0;
}

.footer__logo--titulo2 {
    color: negro;
    margin: 0;
}

.footer__texto {
    font-family: var(--font-texto);
    color: #fff;
    font-size: 1rem;
    text-align: center;
}

.footer__nombre,
.footer__nombre a {
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.footer__empresa {
    font-weight: 200;
}

/* pantallas pequeñas */
@media (max-width: 768px) {
    body, html {
        padding: 0;
        margin: 0;
        overflow-x: hidden; /* No hay scroll horizontal */
    }

    .main {
        flex-direction: column-reverse;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
    }

    .seccion__formulario {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
    }

    .formulario__input {
        width: 80vw;
        box-sizing: border-box;
    }

    .formulario__botones {
        gap: 5px;
        width: 100%;
        justify-content: center;
        box-sizing: border-box;
    }

    .formulario__boton {
        width: 100%;
        box-sizing: border-box;
    }

    .card {
        width: 100%;
        max-width: 10rem; /* Límite */
        height: 14rem;
        margin: 0 auto;
        box-sizing: border-box;
        margin-bottom: 1.25rem; /* Reduce */
    }

    .card img {
        width: 100%;
        height: auto;
        max-height: 8rem;
        object-fit: cover;
    }

    .card-container--value img {
        width: 1.25rem; /* el ícono de trash no se haga grande */
        height: 1.25rem;
        object-fit: contain;
    }

    .productos__lista {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
